@font-face {
  font-family: 'Karrik';
  src: url('fonts/Karrik-Regular.woff2') format('woff2'),
      url('fonts/Karrik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Millimetre Light';
  src: url('fonts/Millimetre-Light.woff2') format('woff2'),
      url('fonts/Millimetre-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Millimetre Light";
}

.hidden {
  display: none;
}

.logo {grid-area: logo;}
header {grid-area: nav;}
.desc {grid-area: desc}
.services {grid-area: services}
.RD {grid-area: RD}
#references {grid-area: references}
#credits {grid-area: credits}


.grid
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, minmax(50px, auto));
  grid-template-areas:  "logo"
                        "nav"
                        "desc"
                        "services"
                        "RD"
                        "credits"
                        "references";
}

header,
aside,
article,
footer,
.logo,
.services,
.credits {
  padding: 1em 0;
}

nav {
  flex: 1;
}

.menu {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.menu a {
  color: #000000;
  display: block;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  padding: 1em 2em;
  font-family: "Karrik";
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s;
}

.menu li:nth-child(1) a:hover, .menu li:nth-child(1) a.active{
  color: orange;
}
.menu li:nth-child(2) a:hover, .menu li:nth-child(2) a.active{
  color: #223eef;
}
.menu li:nth-child(3) a:hover, .menu li:nth-child(3) a.active{
  color: #FF00FF;
}
.menu li:nth-child(4) a:hover, .menu li:nth-child(4) a.active{
  color: #F72A00;
}

.services{
  display: flex;
  flex-direction: column;
}

.desc {
  padding: 1em 1em 1em 2em;
  background: black;
  color: white;
}

h2 {
  font-family: "Karrik";
  font-size: 1.6em;
  font-weight: normal;
  text-transform: uppercase;
}

p{
  line-height: 1.5;
}

.subtitle {
  line-height: 1;
}

img{
  max-width: 100%;
}

.logo img {
  max-width: 100%;
}

.services a{
  text-decoration: none;
  color: black;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 1em;
}
.services a h2 {
  color: black;
}

.services a.dissimulation:hover {
  border: 2px solid #223eef;
}
.services a.dissimulation:hover h3 {
  color: #223eef;
}

.services a.reflexion:hover {
  border: 2px solid #FF00FF;
}
.services a.reflexion:hover h3{
  color: #FF00FF;
}

.services a.saturation:hover {
  border: 2px solid #F72A00;
}
.services a.saturation:hover h3{
  color: #F72A00;
}

.services h3 {
  font-family: "Karrik Regular";
  font-size: 2em;
  font-weight: normal;
  letter-spacing: 2px;
}

.services img {
  max-width: 100%;
}

#credits {
  background: black;
  color: white;
  padding: 1em;
}

#credits a, #references a {
  color: white;
}
#credits a:hover, #references a:hover {
  color: orange;
}


#references {
  background: black;
  color: white;
  padding: 1em;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 60em;
  padding: 1em 0;
}

.service {
  display: flex;
  align-items: center;
}

.text-service {
  flex: 3;
  padding: 1em 2em;
}

.text-service span {
  font-family: "Karrik";
  font-size: 2em;
  margin-right: 0.5em;
  line-height: 0;
}

.image-service {
  flex: 2;
}

.RD {
  flex-wrap: wrap;
  align-content: flex-start;
}

.RD div {
  padding: 1em;
}

.explanations {
  border-bottom: 8px solid black;
}

.saturation-header .image-service{
  padding: 1em;
}
.saturation-header {
  padding-bottom: 2em;
}




@media screen and (min-width: 768px)
{
  .grid
  {
    grid-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
    grid-template-areas:  "logo logo nav nav nav nav"
                          "desc desc desc desc desc desc"
                          "services services services services services services"
                          "RD RD RD RD RD RD"
                          "credits credits credits credits credits credits"
                          "references references references references references references";
  }
  .grid > * {
    display: flex;
    justify-content: center;
  }
  .services {
    flex-direction: row;
  }
  .services a{
    flex: 1;
    min-height: 540px;
  }
  .desc-inner {
    display: flex;
    align-items: inherit;
  }
  .desc-inner .text-desc {
    flex: 3;
  }
  .desc-inner .image-desc {
    flex: 2;
    margin-left: 1em;
  }
  .logo {
    display: block;
    align-self: center;
  }
  #credits h2, #references h2 {
    flex: 1;
  }
  #credits p, #references p {
    flex: 2;
  }
  #credits .inner-ul, #references .inner-ul {
    flex: 2;
  }
  .explanations {
    flex-direction: column;
  }
  .RD div {
    flex: 1 0 21%;
    margin: 5px;
  }
}
